@import url('https://fonts.googleapis.com/css?family=Raleway:200');

body {
  margin: 0;
  background: #ecf0f1;
}


.sidebar {
  /* set to be the flex container */
  display: flex;
  /* set the Main Axis to be column */
  flex-direction: column;
  /* set the space of content in Main Axis; 
   * align-items set the space of content in Cross Axis;
   * align-content set the space between different lines in Cross Axis(wrap) 
   */
  justify-content: space-between;
  /* set the Cross Axis (default is no wrap which means don't have cross axis) */
  flex-wrap: wrap;
  height: 100vh;
  width: 15vw;
  border-right: 1px solid #D7DBDD;
  font-family: raleway;
  background: #34495e
}

.item {
    padding: 10px 20px;
    color: white;
    font-size: 20px;
}

.section {
  padding: 10px;
}
